<h1>投稿一覧</h1>
<br>
<div class="row">
  <% post_images.each do |post_image| %>
    <div class="col-md-2">
      <div class="card">
        <%= link_to post_image_path(post_image.id) do %>
            <%= attachment_image_tag post_image, :image, class:"card-img-top"; %>
        <% end %>
        <%= link_to(post_image_path(post_image.id), class:"text-dark") do %>
          <strong><i class="far fa-flag"></i><span> <%= post_image.shop_name %></span></strong>
        <% end %>
        <p class="card-text">説明：<%= post_image.caption %></p>
        <span><i class="fas fa-user"></i> By <%= post_image.user.name %> ｜ </span>
        <span><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id), class:"text-dark" %></span>
      </div>
    </div>
  <% end %>
</div>

  <%= paginate post_images %>
</div>